<div id="contact-menu">
  <ul>

    <li class="context-menu-item">
      <img src="/assets/icons/star_fav_empty.png" alt="make favourite"></img>
    </li>

    <li class="context-menu-item">
      <img src="/assets/icons/doc_edit.png" alt="edit contact"></img>
    </li>

    <li class="context-menu-item">
      <a href="/contacts/delete/<%= contact._id %>" alt="delete contact">
        <img src="/assets/icons/trash.png" alt="delete contact"></img>
      </a>
    </li>
  </ul>
</div>
