<div id="main-menu">
  <ul id="menu-items">

    <li id="logo">
      <a href="/contacts">
        <img src="/assets/icons/home.png" alt="Logo Placeholder/Home"></img>
      </a>
    </li>

    <li class="menu-item" id="logout-btn">
      <a href="/logout">
        <img src="/assets/icons/on-off.png" alt="Logout"></img>
      </a>
    </li>

    <li class="menu-item" id="settings-btn">
      <img src="/assets/icons/cog.png" alt="Settings"></img>
    </li>

    <li class="menu-item" id="filter-btn">
      <img src="/assets/icons/filter.png" alt="Filter"></img>
    </li>

    <li class="menu-item" id="search-btn">
      <img src="/assets/icons/magnify.png" alt="Search"></img>
    </li>

    <li class="menu-item" id="add-contact-btn">
      <img src="/assets/icons/round_plus.png" alt="Add Contact"></img>
    </li>

  </ul>
</div>
