<html>
  <% include /partials/head.ejs %>
  <body>
    <div id="container">
      <% include /partials/main-menu.ejs %>
      <hr>

          <% include /partials/large-contact.ejs %>

          <% include /partials/contact-menu.ejs %>
    </div>
  </body>
</html>
