<html>
  <% include /partials/head.ejs %>
  <body>
    <%include /partials/large-contact.ejs %>

    <div id="confirm delete" class="notice-box">
      <h1>Delete Contact?</h1>
      <img src="/assets/icons/attention.png" alt="attention!" align="middle"></img>
    </div>
  </body>

</html>
